body {
    background-color: #1e2024;
    font-family: 'Montserrat', sans-serif;
}

.nav-wrapper{
    background-color: #2B2D32;
    height: 77px;
    -moz-box-shadow: 1px 1px 3px 1px #101012;
    -webkit-box-shadow: 1px 1px 3px 1px #101012;
     box-shadow: 1px 1px 3px 1px #101012;
    padding-left: 35px;
}

.logo {
    padding-top: 12px;
    padding-left: 30px;
}

#nav-mobile {
    padding-right: 35px
}


/*Bands you are following*/
.title {
    font-size: 24px;
    color: #FF6A48;
    font-family: 'Montserrat', sans-serif;
}

.main-container .aside .row .col .card .card-image img{
    width: 100%;
    height: auto;
}

.image {
    width: 100%;
}

.text {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

/*#container {
    float: left;
}*/

.green {
    color: rgb(27, 212, 3);
}

/*AGREGAR*/
.cardArtist:hover {
    transform: scale(1.05);
    opacity: 1;
    cursor: pointer;
    transition: 0.2s;
}

@media only screen and (max-width: 601px){
    .nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
        /* height: 64px; */
        line-height: 64px;
        float: right;
    }
}

@media only screen and (max-width: 992px){
    .nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
        /* height: 64px; */
        line-height: 64px;
        float: right;
    }
}

