body {
    margin: 0;
    padding: 0;
    background-color: #1a1717 ;

}


.container {
    /* align-self: auto; */
    
    margin:0 auto;
    /* display:grid; */
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    /* grid-auto-rows:minmax(100px, auto); */
    align-content: center;
    /* grid-gap: 1em; */
    /* padding: 1em; */
}

#search {
    background-color: white;
    border-bottom: none;
    border-radius: 5px;
    margin-left: 70%;
    width: 30%;
    margin-top: -35px;
    text-align: center;
}

#looking-glass {
    margin-left: 620px;
    margin-top: 0;
}

#Box {
    background-color: red;
    width: 300px;
    height: 200px;
    border: yellow;
    
}



#header{
    background-color: #2B2D32;
    height: 60px;
    -moz-box-shadow: 1px 1px 3px 1px #101012;
    -webkit-box-shadow: 1px 1px 3px 1px #101012;
     box-shadow: 1px 1px 3px 1px #101012;
}

#logoHeader {
    padding-top: 10px;
    padding-left: 30px;
}




.fa-search {
    color:#FF6A48;
}